@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #F5F5F5;
    font-family: 'Poppins', sans-serif;
    color: #442C23;

    scroll-behavior: smooth;

    background-image: url("../image/bg.png"); 
    background-size:auto;

}


header{
    width: 100%;
    height: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header.logo {
    width: 150px;
    height: auto;

    margin-left: 30px;
}

/* user avatar when user loged */
header .user{
    width: 100px;
    height: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-right: 30px;
 }

 header .user img{
    width: 50px;
    height: 50px;

    border-radius: 50%;
    border: 3px #AA764D solid;
 }

 /*User name properties*/
 header .user p{
    font-size: 14px;
    color: #AA764D;
 }

 /*Navigation Settings*/
 nav {
    width: 100%;
    height: auto;

    margin-top: 30px;
    
    display: flex;
    justify-content: center;
    align-items: center;
 }

 nav ul{
    list-style-type: none;
    display: flex;
 }

 /*Navigation item properties*/
 
 nav ul li {
    margin-left: 30px;
    border-bottom: 2px transparent solid;
    transition: 0.36s ease;
 }
 
 /*Hover for navigation*/
 nav ul li:hover{
    border-bottom: 2px #AA764D solid;
 }

 
/*Navigation text size set, color, and bold text */
 nav ul li a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #D69D6E;
 }

 /*Hide Mobile Navigation button*/
 #mobileNavBtn{
    display: none;
}

/**************************************************************************************************************************************************/

/*Menu Section*/
section.menu-sec{
    width: 100%;
    height: auto;

    margin-top: 70px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.menu-sec h1{
    color:#442C23;
}

 /* menu card */


section.menu-sec .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 50px;
  }

  /*image row*/
  section.menu-sec .container  .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  /* make 3 columns for images */
section.menu-sec .container  .image-wrapper {
    flex-basis: calc(33% - 10px);
    overflow: hidden;
    border-radius: 15px;
  }

  section.menu-sec .container  .image-wrapper img {
    width: 100%;
    height: 250px;
    transition: 0.3s ease-in-out;
    border-radius: 15px;
}

/*image zoom out - catogory*/

section.menu-sec .container  .image-wrapper img:hover{
    transform: scale(1.1);
}

/************************************************************************/

/*Video Section*/

section.video-sec{
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Video shape*/
section.video-sec video{
    border-radius: 10px;
}

/*heading*/
section.video-sec h1{
    text-align: center;
    margin-bottom: 30px;
}

/*Footer*/
footer{
    width: 100%;
    height: 50px;
    background-color: #442C23;
    color: #F5F5F5;
    font-size: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*.......................................................................*/

/* Popular product page styling */

/* popular product price */

.price{
    color: #bb3bee;
    font-weight: bold;
}



/*Cart page styling*/
section.cart-sec{
    width: 100%;
    height: auto;

    margin-top: 70px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.item-display-sec .container {
    width: 100%;
    height: 80%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}


/*Right side column - style*/
section.item-display-sec .right-side {
    flex-basis: 60%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* item name */
section.item-display-sec .right-side h2{
    color: #442C23;
}

/* item image */
section.item-display-sec .right-side img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}


/* item sub image mobile view */
section.item-display-sec .right-side .side-images-mobile-view{
    display: none;
}


/*Center the product image*/
section.item-display-sec .right-side .item-image-box{
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;

}

/*Product main image*/
section.item-display-sec .right-side .item-image-box .main-image{
    flex-basis:calc(80% - 10px);
    overflow: hidden;
    border-radius: 5px;
}

/*animate image zoom when page load */
section.item-display-sec .right-side .item-image-box .main-image img{
    animation-name: zoom;
    animation-duration:4s;
    animation-direction: alternate;
}


@keyframes zoom {
    from {transform: scale(1);}
    to {transform: scale(1.2);}
}

/*product item extra image - desktop view*/

section.item-display-sec .right-side .item-image-box .side-images{
    flex-basis: 20%;
    padding-left: 10px;
}

/* item details */
section.item-display-sec .left-side {
    flex-basis: 40%;

}

section.item-display-sec .left-side .price{
    font-size: 50px;
}
/*Term and condition with check box*/

section.item-display-sec .left-side .term{
    margin-top: 30px;
    margin-bottom: 30px;
}

/* add to cart button */
section.item-display-sec .left-side  button{
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #74add3;
    color: #F5F5F5;
    font-weight: 600;
    cursor: pointer;
    transition: 0.36s ease-in;
}

section.item-display-sec .left-side  button:hover{

    background-color: #F5F5F5 ;
    color: #74add3;
    border: 2px #74add3 solid;
}

/*Recommendation product section*/
section.recoment-sec{
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top:70px;
}

section.recoment-sec  .row {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}
  

/* make 4 columns for images */
section.recoment-sec  .image-wrapper {
    flex-basis: calc(20% - 10px);
    overflow: hidden;
    border-radius: 15px;
  }
  
section.recoment-sec  .image-wrapper img {
    width: 100%;
    height: auto;
    min-height: 200px;
    transition: 0.3s ease-in-out;

    border-radius: 15px;
}


/* RESPOSIVE */

/* resposive when screen size 1000px */
@media only screen and (max-width: 1000px) {
    header{
        flex-direction: column;
    }


    /* cart page */
    section.item-display-sec .right-side {
        flex-basis: 100%;
    }

    section.item-display-sec .left-side {
        flex-basis: 100%;
        margin-top: 100px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


/* resposive when screen size 600px */
@media only screen and (max-width: 600px) {

    header .logo{
        width: 100px;
        margin-left: 10px;
        margin-top: 20px;
    }

    /*Mobile nav button display*/
    #mobileNavBtn{
        display: block;
        margin-right: 20px;
    }

    header{
        flex-direction:row;
    }

    /*Remove the desktop nav bar*/
    nav ul{
        display: none;
    }

    header .welcome-banner{
        display: none;
    }
/*remove the user avatar*/
    header .user{
        display: none;
    }

    section.menu-sec .container {
        padding: 10px;
    }

    section.video-sec video{
        width: 95%;
    }


    section.menu-sec .container  .image-wrapper {
        flex-basis: calc(50% - 10px);
        overflow: hidden;
        border-radius: 15px;
    }

    /* cart page */
    
    /* display item sub images mobile view */

    section.item-display-sec .right-side .item-image-box .side-images{
       display: none;
    }

    section.item-display-sec .right-side .side-images-mobile-view{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    section.item-display-sec .right-side .side-images-mobile-view img{
        width: 30%;
        height: auto;
        padding: 10px;
    }

    section.item-display-sec .left-side {
        margin-top: 20px;
    }

    section.item-display-sec .left-side .price{
        font-size: 30px;
    }

    section.recoment-sec  .image-wrapper {
        flex-basis: calc(50% - 10px);
      }
      
}

/* resposive when screen size 300px */
@media only screen and (max-width: 300px) {
    section.menu-sec .container  .image-wrapper {
        flex-basis: calc(100% - 10px);
        overflow: hidden;
        border-radius: 15px;
    }

    section.recoment-sec  .image-wrapper {
        flex-basis: calc(100% - 10px);
      }
}