@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #F5F5F5;
    font-family: 'Poppins', sans-serif;
    color: #442C23;

    scroll-behavior: smooth;

    background-image: url("../image/bg.png"); 
    background-size:auto;

}


header{
    width: 100%;
    height: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header.logo {
    width: 150px;
    height: auto;

    margin-left: 30px;
}

/* user avatar when user loged */
header .user{
    width: 100px;
    height: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-right: 30px;
 }

 header .user img{
    width: 50px;
    height: 50px;

    border-radius: 50%;
    border: 3px #AA764D solid;
 }

 /*User name properties*/
 header .user p{
    font-size: 14px;
    color: #AA764D;
 }

 /*Navigation Settings*/
 nav {
    width: 100%;
    height: auto;

    margin-top: 30px;
    
    display: flex;
    justify-content: center;
    align-items: center;
 }

 nav ul{
    list-style-type: none;
    display: flex;
 }

 /*Navigation item properties*/
 
 nav ul li {
    margin-left: 30px;
    border-bottom: 2px transparent solid;
    transition: 0.36s ease;
 }
 
 /*Hover for navigation*/
 nav ul li:hover{
    border-bottom: 2px #AA764D solid;
 }

 
/*Navigation text size set, color, and bold text */
 nav ul li a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #D69D6E;
 }

 /*Hide Mobile Navigation button*/
 #mobileNavBtn{
    display: none;
}

/**************************************************************************************************************************************************/

/*Menu Section*/
section.menu-sec{
    width: 100%;
    height: auto;

    margin-top: 70px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.menu-sec h1{
    color:#442C23;
}

 /* menu card */


section.menu-sec .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 50px;
  }

  /*image row*/
  section.menu-sec .container  .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  /* make 3 columns for images */
section.menu-sec .container  .image-wrapper {
    flex-basis: calc(33% - 10px);
    overflow: hidden;
    border-radius: 15px;
  }

  section.menu-sec .container  .image-wrapper img {
    width: 100%;
    height: 250px;
    transition: 0.3s ease-in-out;
    border-radius: 15px;
}

/*image zoom out - catogory*/

section.menu-sec .container  .image-wrapper img:hover{
    transform: scale(1.1);
}

/************************************************************************/

/*Video Section*/

section.video-sec{
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Video shape*/
section.video-sec video{
    border-radius: 10px;
}



